<main>
    <header class="flex flex-row mb-8">
        <mat-toolbar color="primary">
            <span>
                <a routerLink="/">The Bulletin Board</a>
            </span>
            <span class="flex-1"></span>
            <span *ngIf="!authService.isLoggedIn()">
                <button mat-raised-button color="accent" (click)="onLoginClicked()">
                    Login
                </button>
            </span>
            <span *ngIf="authService.isLoggedIn()">
                <button mat-raised-button color="accent" (click)="onLogoutClicked()">
                    Logout
                </button>
            </span>
        </mat-toolbar>
    </header>

    <body>
        <router-outlet></router-outlet>
    </body>

    <footer
        class="mt-4 z-20 w-full p-4 bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600">
        <span class="mx-auto text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a
                href="https://flowbite.com/" class="hover:underline">Bulletin Board</a>. All Rights Reserved.
        </span>
    </footer>

</main>

<style>
    main {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    header {
        background-color: var(deep-purple);
        min-height: 50px;
    }

    body {
        flex: 1;
    }

    footer {
        min-height: 50px;
    }
</style>