<div class="flex flex-col items-center">

    <h1 class="underline">
        Register
    </h1>

    <form #registerForm="ngForm" (submit)='onRegister(registerForm)'
        class="flex flex-col justify-center mx-auto w-1/4 gap-4">
        <!-- Username Handlings -->
        <mat-form-field appearance="fill">
            <mat-label>Username form field</mat-label>
            <input matInput placeholder="example@example.com" [formControl]="username">
            <mat-error *ngIf="username.invalid">{{getUsernameError()}}</mat-error>
        </mat-form-field>

        <!-- Password Handlings -->
        <mat-form-field appearance="fill" color="primary">
            <mat-label>Password form field</mat-label>
            <input matInput type="password" placeholder="secret" [formControl]="password">
            <mat-error *ngIf="password.invalid">{{getPasswordError()}}</mat-error>
        </mat-form-field>

        <!-- Submission Bootin -->
        <button mat-stroked-button color="primary" type="submit" class="my-2">
            Register
        </button>

        <!-- Sign up redirect -->
        <div class="flex flex-row justify-center gap-2">
            <p class="text-gray-700">Already have an account?</p>
            <a routerLink="/login" class="text-purple-900 font-bold">Login</a>
        </div>
    </form>
</div>